.auth header h1 {
  margin-top: 2em;
  font-size: 0.99rem;
}

article.auth-box {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 1em;
  width: 100%;
  height: 100%;
}
article.auth-box h5 {
  display: flex;
  gap: 1em;
}
article.auth-box span {
  min-width: 47ch;
  font-size: x-small;
  margin-bottom: 2em;
}

form.auth-form {
  display: inherit;
  flex-direction: inherit;
  gap: inherit;
  width: inherit;
}

form.auth-form label[for='password'] {
  display: flex;
  justify-content: space-between;
}

form.auth-form .form-check-input {
  width: fit-content;
  gap: 0.5em;
}

form.auth-form button#login {
  align-self: flex-end;
}

button#oauth-google {
  align-self: center;
  margin-top: -0.5em;
  display: flex;
  align-items: center;
  gap: 1em;
}

.better-auth {
  width: 100%;
  text-align: end;
}
