figure.user-avatar {
  padding: 0;
  margin: 0;
  border: 2px double light-dark(var(--theme-color-24), var(--theme-color-06));
  height: 100%;
  width: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
  background: light-dark(var(--theme-color-13), var(--theme-color-10));
  color: light-dark(var(--theme-color-03), var(--theme-color-23));
}
figure.user-avatar figcaption {
  padding: var(--theme-padding-medium);
  line-height: 100%;
  font-size: 0.8em;
  font-weight: var(--theme-font-weight-medium);
  user-select: none;
  cursor: help;
}
