button {
  cursor: pointer;
  width: fit-content;
  text-transform: uppercase;
  box-shadow: 1.5px 2px 0 0 light-dark(var(--theme-color-20), var(--theme-color-10));
  background: light-dark(var(--theme-color-04), var(--theme-color-21));
  color: light-dark(var(--theme-color-25), var(--theme-color-01));
  border-radius: var(--theme-border-radius);
  border: 1px solid light-dark(var(--theme-color-20), var(--theme-color-10));
  font-weight: var(--theme-font-weight-bold);
  padding: var(--theme-padding-medium) var(--theme-padding-comfortable);
  transition: all 0.2s linear;
}
button.small-button {
  padding: var(--theme-padding-dense) var(--theme-padding-medium);
}
button:hover:not(:disabled) {
  background: light-dark(var(--theme-color-05), var(--theme-color-18));
  box-shadow: 0.5px 1px 0 0 light-dark(var(--theme-color-20), var(--theme-color-10));
  transform: translateX(1px) translateY(1px);
}
button:active:not(:disabled) {
  background: light-dark(var(--theme-color-04), var(--theme-color-21));
  box-shadow: inset 0.5px 0.5px 0 0 light-dark(var(--theme-color-20), var(--theme-color-10));
  color: light-dark(var(--theme-color-21), var(--theme-color-05));
}
button:disabled {
  opacity: 0.3;
  cursor: not-allowed;
}
button:focus-visible {
  transition: none;
  outline: 1px solid light-dark(var(--theme-color-25), var(--theme-color-01));
  outline-offset: 1px;
}
