.cal-navigator {
  display: flex;
  min-width: fit-content;
  align-items: center;
  flex-wrap: nowrap;
  gap: 1em;
}
.cal-navigator h5 {
  font-weight: var(--theme-font-weight-medium);
  min-width: 10em;
}

button.new-block-button {
  width: 100%;
}

h6.timezone-display {
  min-width: 100%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5em;
  margin-bottom: -0.5em;
}

.month-calendar {
  display: grid;
  grid-template-columns: 2em repeat(7, 1fr);
  grid-template-rows: 1.2em repeat(5, 1fr);
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    'week0 dow01 dow02 dow03 dow04 dow05 dow06 dow07'
    'week1 day01 day02 day03 day04 day05 day06 day07'
    'week2 day08 day09 day10 day11 day12 day13 day14'
    'week3 day15 day16 day17 day18 day19 day20 day21'
    'week4 day22 day23 day24 day25 day26 day27 day28'
    'week5 day29 day30 day31 day32 day33 day34 day35';

  min-width: 100%;
  min-height: 100%;
}

.day-container {
  min-width: 6em;
  min-height: 6em;
  position: relative;
  padding: var(--theme-padding-dense);
  border-bottom: 1px solid light-dark(var(--theme-color-10), var(--theme-color-15));
  border-right: 1px solid light-dark(var(--theme-color-10), var(--theme-color-15));

  &.day01,
  &.day02,
  &.day03,
  &.day04,
  &.day05,
  &.day06,
  &.day07 {
    border-top: 1px solid light-dark(var(--theme-color-10), var(--theme-color-15));
  }
}
.day-container::after {
  content: attr(data-day-of-month);
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  align-items: center;
  justify-content: center;
  min-width: 100%;
  font-size: small;
  user-select: none;
  padding: var(--theme-padding-dense) 0;
}

.week-number-container {
  width: 100%;
  height: 100%;
  border-right: 1px solid light-dark(var(--theme-color-10), var(--theme-color-15));
}
.week-number-container::after {
  content: attr(data-week-of-year);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: small;
  min-width: 100%;
  min-height: 100%;
  user-select: none;
  color: light-dark(var(--theme-color-10), var(--theme-color-15));
}

.day-of-week-container {
  text-align: center;
}

.week0 {
  grid-area: week0;
}
.week1 {
  grid-area: week1;
}
.week2 {
  grid-area: week2;
}
.week3 {
  grid-area: week3;
}
.week4 {
  grid-area: week4;
}
.week5 {
  grid-area: week5;
}
.week6 {
  grid-area: week6;
}

.dow01 {
  grid-area: dow01;
}
.dow02 {
  grid-area: dow02;
}
.dow03 {
  grid-area: dow03;
}
.dow04 {
  grid-area: dow04;
}
.dow05 {
  grid-area: dow05;
}
.dow06 {
  grid-area: dow06;
}
.dow07 {
  grid-area: dow07;
}

.day01 {
  grid-area: day01;
}
.day02 {
  grid-area: day02;
}
.day03 {
  grid-area: day03;
}
.day04 {
  grid-area: day04;
}
.day05 {
  grid-area: day05;
}
.day06 {
  grid-area: day06;
}
.day07 {
  grid-area: day07;
}
.day08 {
  grid-area: day08;
}
.day09 {
  grid-area: day09;
}
.day10 {
  grid-area: day10;
}
.day11 {
  grid-area: day11;
}
.day12 {
  grid-area: day12;
}
.day13 {
  grid-area: day13;
}
.day14 {
  grid-area: day14;
}
.day15 {
  grid-area: day15;
}
.day16 {
  grid-area: day16;
}
.day17 {
  grid-area: day17;
}
.day18 {
  grid-area: day18;
}
.day19 {
  grid-area: day19;
}
.day20 {
  grid-area: day20;
}
.day21 {
  grid-area: day21;
}
.day22 {
  grid-area: day22;
}
.day23 {
  grid-area: day23;
}
.day24 {
  grid-area: day24;
}
.day25 {
  grid-area: day25;
}
.day26 {
  grid-area: day26;
}
.day27 {
  grid-area: day27;
}
.day28 {
  grid-area: day28;
}
.day29 {
  grid-area: day29;
}
.day30 {
  grid-area: day30;
}
.day31 {
  grid-area: day31;
}
.day32 {
  grid-area: day32;
}
.day33 {
  grid-area: day33;
}
.day34 {
  grid-area: day34;
}
.day35 {
  grid-area: day35;
}
.day36 {
  grid-area: day36;
}
.day37 {
  grid-area: day37;
}
.day38 {
  grid-area: day38;
}
.day39 {
  grid-area: day39;
}
.day40 {
  grid-area: day40;
}
.day41 {
  grid-area: day41;
}
.day42 {
  grid-area: day42;
}

.mini-calendar {
  display: grid;
  grid-template-columns: auto repeat(7, 1fr);
  grid-template-rows: 3.5em 1.2em repeat(6, 1fr);
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    'header header header header header header header header'
    'week0  dow01  dow02  dow03  dow04  dow05  dow06  dow07'
    'week1  day01  day02  day03  day04  day05  day06  day07'
    'week2  day08  day09  day10  day11  day12  day13  day14'
    'week3  day15  day16  day17  day18  day19  day20  day21'
    'week4  day22  day23  day24  day25  day26  day27  day28'
    'week5  day29  day30  day31  day32  day33  day34  day35'
    'week6  day36  day37  day38  day39  day40  day41  day42';

  font-size: x-small;
  width: 18em;
  height: 18em;
}

.mini-calendar header {
  grid-area: header;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.mini-calendar header h5 {
  margin-left: 3em;
}

.mini-calendar .day-of-week-container h6 {
  font-weight: var(--theme-font-weight-semibold);
}

.mini-calendar .week-number-container::after {
  font-size: x-small;
  min-width: 2em;
}

.mini-calendar .mini-day-container {
  min-width: 2em;
}

.mini-calendar .mini-day-container a {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 100%;
  min-height: 100%;
  text-decoration: none;

  &:hover {
    background: var(--theme-color-12);
  }
}

.week-calendar {
  display: grid;
  grid-auto-rows: 1fr;
  grid-template-columns: 2em repeat(7, 1fr);
  grid-template-rows: 3em auto;
  gap: 0px 0px;
  grid-template-areas:
    'tz-offset dow01 dow02 dow03 dow04 dow05 dow06 dow07'
    'all-day all-day01 all-day02 all-day03 all-day04 all-day05 all-day06 all-day07';
}
.week-calendar {
  display: grid;
  grid-template-columns: 2em repeat(7, 1fr);
  grid-template-rows: 3em auto;
  grid-auto-rows: 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    'tz-offset dow01 dow02 dow03 dow04 dow05 dow06 dow07'
    'all-day all-day01 all-day02 all-day03 all-day04 all-day05 all-day06 all-day07';
}

.tz-offset {
  grid-area: tz-offset;
}
.all-day {
  grid-area: all-day;
}
.all-day01 {
  grid-area: all-day01;
}
.all-day02 {
  grid-area: all-day02;
}
.all-day03 {
  grid-area: all-day03;
}
.all-day04 {
  grid-area: all-day04;
}
.all-day05 {
  grid-area: all-day05;
}
.all-day06 {
  grid-area: all-day06;
}
.all-day07 {
  grid-area: all-day07;
}
