.cal-navigator {
  display: flex;
  min-width: fit-content;
  align-items: center;
  flex-wrap: nowrap;
  gap: 1em;
}
.cal-navigator h5 {
  font-weight: var(--theme-font-weight-medium);
  min-width: 10em;
}

button.new-block-button {
  width: 100%;
}

h6.timezone-display {
  min-width: 100%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5em;
  margin-bottom: -0.5em;
}

.month-calendar {
  display: grid;
  grid-template-columns: 2em repeat(7, 1fr);
  grid-template-rows: 1.2em repeat(6, 1fr);
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    'week0 dow01 dow02 dow03 dow04 dow05 dow06 dow07'
    'week1 day01 day02 day03 day04 day05 day06 day07'
    'week2 day08 day09 day10 day11 day12 day13 day14'
    'week3 day15 day16 day17 day18 day19 day20 day21'
    'week4 day22 day23 day24 day25 day26 day27 day28'
    'week5 day29 day30 day31 day32 day33 day34 day35'
    'week6 day36 day37 day38 day39 day40 day41 day42';

  min-width: 100%;
  min-height: 100%;
}

.day-container {
  min-width: 6em;
  min-height: 6em;
  position: relative;
  padding: var(--theme-padding-dense);
  border-bottom: 1px solid light-dark(var(--theme-color-10), var(--theme-color-15));
  border-right: 1px solid light-dark(var(--theme-color-10), var(--theme-color-15));

  &.day01,
  &.day02,
  &.day03,
  &.day04,
  &.day05,
  &.day06,
  &.day07 {
    border-top: 1px solid light-dark(var(--theme-color-10), var(--theme-color-15));
  }
}
.day-container::after {
  content: attr(data-day-of-month);
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  align-items: center;
  justify-content: center;
  min-width: 100%;
  font-size: small;
  user-select: none;
  padding: var(--theme-padding-dense) 0;
}
.day-container[data-outside-month='true'] {
  background: light-dark(var(--theme-color-03), var(--theme-color-21));
}
.day-container[data-today='true']::after {
  background: light-dark(var(--theme-color-15), var(--theme-color-08));
  color: light-dark(var(--theme-color-02), var(--theme-color-23));
  font-weight: var(--theme-font-weight-semibold);
  padding: 0;
  margin: var(--theme-padding-dense);
  min-width: calc(100% - var(--theme-padding-dense) * 2);
}

.week-number-container {
  width: 100%;
  height: 100%;
  border-right: 1px solid light-dark(var(--theme-color-10), var(--theme-color-15));
}
.week-number-container::after {
  content: attr(data-week-of-year);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: small;
  min-width: 100%;
  min-height: 100%;
  user-select: none;
  color: light-dark(var(--theme-color-10), var(--theme-color-15));
}

.day-of-week-container {
  text-align: center;
}
.day-of-week-container::after {
  font-size: x-small;
  content: attr(data-day-of-month);
}

.week0 {
  grid-area: week0;
}
.week1 {
  grid-area: week1;
}
.week2 {
  grid-area: week2;
}
.week3 {
  grid-area: week3;
}
.week4 {
  grid-area: week4;
}
.week5 {
  grid-area: week5;
}
.week6 {
  grid-area: week6;
}

.dow01 {
  grid-area: dow01;
}
.dow02 {
  grid-area: dow02;
}
.dow03 {
  grid-area: dow03;
}
.dow04 {
  grid-area: dow04;
}
.dow05 {
  grid-area: dow05;
}
.dow06 {
  grid-area: dow06;
}
.dow07 {
  grid-area: dow07;
}

.day01 {
  grid-area: day01;
}
.day02 {
  grid-area: day02;
}
.day03 {
  grid-area: day03;
}
.day04 {
  grid-area: day04;
}
.day05 {
  grid-area: day05;
}
.day06 {
  grid-area: day06;
}
.day07 {
  grid-area: day07;
}
.day08 {
  grid-area: day08;
}
.day09 {
  grid-area: day09;
}
.day10 {
  grid-area: day10;
}
.day11 {
  grid-area: day11;
}
.day12 {
  grid-area: day12;
}
.day13 {
  grid-area: day13;
}
.day14 {
  grid-area: day14;
}
.day15 {
  grid-area: day15;
}
.day16 {
  grid-area: day16;
}
.day17 {
  grid-area: day17;
}
.day18 {
  grid-area: day18;
}
.day19 {
  grid-area: day19;
}
.day20 {
  grid-area: day20;
}
.day21 {
  grid-area: day21;
}
.day22 {
  grid-area: day22;
}
.day23 {
  grid-area: day23;
}
.day24 {
  grid-area: day24;
}
.day25 {
  grid-area: day25;
}
.day26 {
  grid-area: day26;
}
.day27 {
  grid-area: day27;
}
.day28 {
  grid-area: day28;
}
.day29 {
  grid-area: day29;
}
.day30 {
  grid-area: day30;
}
.day31 {
  grid-area: day31;
}
.day32 {
  grid-area: day32;
}
.day33 {
  grid-area: day33;
}
.day34 {
  grid-area: day34;
}
.day35 {
  grid-area: day35;
}
.day36 {
  grid-area: day36;
}
.day37 {
  grid-area: day37;
}
.day38 {
  grid-area: day38;
}
.day39 {
  grid-area: day39;
}
.day40 {
  grid-area: day40;
}
.day41 {
  grid-area: day41;
}
.day42 {
  grid-area: day42;
}

.mini-calendar {
  display: grid;
  grid-template-columns: auto repeat(7, 1fr);
  grid-template-rows: 3.5em 1.2em repeat(6, 1fr);
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    'header header header header header header header header'
    'week0  dow01  dow02  dow03  dow04  dow05  dow06  dow07'
    'week1  day01  day02  day03  day04  day05  day06  day07'
    'week2  day08  day09  day10  day11  day12  day13  day14'
    'week3  day15  day16  day17  day18  day19  day20  day21'
    'week4  day22  day23  day24  day25  day26  day27  day28'
    'week5  day29  day30  day31  day32  day33  day34  day35'
    'week6  day36  day37  day38  day39  day40  day41  day42';

  font-size: x-small;
  width: 18em;
  height: 18em;
}

.mini-calendar header {
  grid-area: header;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.mini-calendar header h5 {
  margin-left: 3em;
}

.mini-calendar .day-of-week-container h6 {
  font-weight: var(--theme-font-weight-semibold);
}

.mini-calendar .week-number-container::after {
  font-size: x-small;
  min-width: 2em;
}

.mini-calendar .mini-day-container {
  min-width: 2em;
}

.mini-calendar .mini-day-container a {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 100%;
  min-height: 100%;
  text-decoration: none;

  &:hover {
    background: var(--theme-color-12);
  }
}

.week-calendar {
  display: grid;
  grid-auto-rows: 1fr;
  grid-template-columns: 2em repeat(7, 1fr);
  grid-template-rows: 3em auto;
  gap: 0px 0px;
  grid-template-areas:
    'tz-offset dow01 dow02 dow03 dow04 dow05 dow06 dow07'
    'all-day all-day01 all-day02 all-day03 all-day04 all-day05 all-day06 all-day07';
}
.week-calendar {
  display: grid;
  grid-template-columns: 3em repeat(7, 1fr);
  grid-template-rows: 2em minmax(1.5em, auto) repeat(24, auto);
  gap: 0px 0px;
  grid-template-areas:
    'tz-offset dow01           dow02           dow03           dow04           dow05           dow06           dow07'
    'all-day   all-day01       all-day02       all-day03       all-day04       all-day05       all-day06       all-day07'
    'hour00    dow01-hour00    dow02-hour00    dow03-hour00    dow04-hour00    dow05-hour00    dow06-hour00    dow07-hour00'
    'hour01    dow01-hour01    dow02-hour01    dow03-hour01    dow04-hour01    dow05-hour01    dow06-hour01    dow07-hour01'
    'hour02    dow01-hour02    dow02-hour02    dow03-hour02    dow04-hour02    dow05-hour02    dow06-hour02    dow07-hour02'
    'hour03    dow01-hour03    dow02-hour03    dow03-hour03    dow04-hour03    dow05-hour03    dow06-hour03    dow07-hour03'
    'hour04    dow01-hour04    dow02-hour04    dow03-hour04    dow04-hour04    dow05-hour04    dow06-hour04    dow07-hour04'
    'hour05    dow01-hour05    dow02-hour05    dow03-hour05    dow04-hour05    dow05-hour05    dow06-hour05    dow07-hour05'
    'hour06    dow01-hour06    dow02-hour06    dow03-hour06    dow04-hour06    dow05-hour06    dow06-hour06    dow07-hour06'
    'hour07    dow01-hour07    dow02-hour07    dow03-hour07    dow04-hour07    dow05-hour07    dow06-hour07    dow07-hour07'
    'hour08    dow01-hour08    dow02-hour08    dow03-hour08    dow04-hour08    dow05-hour08    dow06-hour08    dow07-hour08'
    'hour09    dow01-hour09    dow02-hour09    dow03-hour09    dow04-hour09    dow05-hour09    dow06-hour09    dow07-hour09'
    'hour10    dow01-hour10    dow02-hour10    dow03-hour10    dow04-hour10    dow05-hour10    dow06-hour10    dow07-hour10'
    'hour11    dow01-hour11    dow02-hour11    dow03-hour11    dow04-hour11    dow05-hour11    dow06-hour11    dow07-hour11'
    'hour12    dow01-hour12    dow02-hour12    dow03-hour12    dow04-hour12    dow05-hour12    dow06-hour12    dow07-hour12'
    'hour13    dow01-hour13    dow02-hour13    dow03-hour13    dow04-hour13    dow05-hour13    dow06-hour13    dow07-hour13'
    'hour14    dow01-hour14    dow02-hour14    dow03-hour14    dow04-hour14    dow05-hour14    dow06-hour14    dow07-hour14'
    'hour15    dow01-hour15    dow02-hour15    dow03-hour15    dow04-hour15    dow05-hour15    dow06-hour15    dow07-hour15'
    'hour16    dow01-hour16    dow02-hour16    dow03-hour16    dow04-hour16    dow05-hour16    dow06-hour16    dow07-hour16'
    'hour17    dow01-hour17    dow02-hour17    dow03-hour17    dow04-hour17    dow05-hour17    dow06-hour17    dow07-hour17'
    'hour18    dow01-hour18    dow02-hour18    dow03-hour18    dow04-hour18    dow05-hour18    dow06-hour18    dow07-hour18'
    'hour19    dow01-hour19    dow02-hour19    dow03-hour19    dow04-hour19    dow05-hour19    dow06-hour19    dow07-hour19'
    'hour20    dow01-hour20    dow02-hour20    dow03-hour20    dow04-hour20    dow05-hour20    dow06-hour20    dow07-hour20'
    'hour21    dow01-hour21    dow02-hour21    dow03-hour21    dow04-hour21    dow05-hour21    dow06-hour21    dow07-hour21'
    'hour22    dow01-hour22    dow02-hour22    dow03-hour22    dow04-hour22    dow05-hour22    dow06-hour22    dow07-hour22'
    'hour23    dow01-hour23    dow02-hour23    dow03-hour23    dow04-hour23    dow05-hour23    dow06-hour23    dow07-hour23';

  height: 100%;
}

.day-container-week {
  border-bottom: 1px solid light-dark(var(--theme-color-04), var(--theme-color-20));
  border-right: 1px solid light-dark(var(--theme-color-06), var(--theme-color-18));
}

.all-day-container {
  border-bottom: 1px solid light-dark(var(--theme-color-04), var(--theme-color-20));
}

.hour-label {
  font-size: x-small;
  position: relative;
  transition: 0.2s ease-in-out;
}
.hour-label::before {
  content: attr(data-hour);
  position: absolute;
  line-height: 1em;
  top: -0.5em;
  right: 0.5em;
}

body:has(.day-container-week):has(
  :is(
    .dow01-hour00:hover,
    .dow02-hour00:hover,
    .dow03-hour00:hover,
    .dow04-hour00:hover,
    .dow05-hour00:hover,
    .dow06-hour00:hover,
    .dow07-hour00:hover
  )
)
  .hour00 {
  font-weight: var(--theme-font-weight-bold);
}

body:has(.day-container-week):has(
  :is(
    .dow01-hour01:hover,
    .dow02-hour01:hover,
    .dow03-hour01:hover,
    .dow04-hour01:hover,
    .dow05-hour01:hover,
    .dow06-hour01:hover,
    .dow07-hour01:hover
  )
)
  .hour01 {
  font-weight: var(--theme-font-weight-bold);
}

body:has(.day-container-week):has(
  :is(
    .dow01-hour02:hover,
    .dow02-hour02:hover,
    .dow03-hour02:hover,
    .dow04-hour02:hover,
    .dow05-hour02:hover,
    .dow06-hour02:hover,
    .dow07-hour02:hover
  )
)
  .hour02 {
  font-weight: var(--theme-font-weight-bold);
}

body:has(.day-container-week):has(
  :is(
    .dow01-hour03:hover,
    .dow02-hour03:hover,
    .dow03-hour03:hover,
    .dow04-hour03:hover,
    .dow05-hour03:hover,
    .dow06-hour03:hover,
    .dow07-hour03:hover
  )
)
  .hour03 {
  font-weight: var(--theme-font-weight-bold);
}

body:has(.day-container-week):has(
  :is(
    .dow01-hour04:hover,
    .dow02-hour04:hover,
    .dow03-hour04:hover,
    .dow04-hour04:hover,
    .dow05-hour04:hover,
    .dow06-hour04:hover,
    .dow07-hour04:hover
  )
)
  .hour04 {
  font-weight: var(--theme-font-weight-bold);
}

body:has(.day-container-week):has(
  :is(
    .dow01-hour05:hover,
    .dow02-hour05:hover,
    .dow03-hour05:hover,
    .dow04-hour05:hover,
    .dow05-hour05:hover,
    .dow06-hour05:hover,
    .dow07-hour05:hover
  )
)
  .hour05 {
  font-weight: var(--theme-font-weight-bold);
}

body:has(.day-container-week):has(
  :is(
    .dow01-hour06:hover,
    .dow02-hour06:hover,
    .dow03-hour06:hover,
    .dow04-hour06:hover,
    .dow05-hour06:hover,
    .dow06-hour06:hover,
    .dow07-hour06:hover
  )
)
  .hour06 {
  font-weight: var(--theme-font-weight-bold);
}

body:has(.day-container-week):has(
  :is(
    .dow01-hour07:hover,
    .dow02-hour07:hover,
    .dow03-hour07:hover,
    .dow04-hour07:hover,
    .dow05-hour07:hover,
    .dow06-hour07:hover,
    .dow07-hour07:hover
  )
)
  .hour07 {
  font-weight: var(--theme-font-weight-bold);
}

body:has(.day-container-week):has(
  :is(
    .dow01-hour08:hover,
    .dow02-hour08:hover,
    .dow03-hour08:hover,
    .dow04-hour08:hover,
    .dow05-hour08:hover,
    .dow06-hour08:hover,
    .dow07-hour08:hover
  )
)
  .hour08 {
  font-weight: var(--theme-font-weight-bold);
}

body:has(.day-container-week):has(
  :is(
    .dow01-hour09:hover,
    .dow02-hour09:hover,
    .dow03-hour09:hover,
    .dow04-hour09:hover,
    .dow05-hour09:hover,
    .dow06-hour09:hover,
    .dow07-hour09:hover
  )
)
  .hour09 {
  font-weight: var(--theme-font-weight-bold);
}

body:has(.day-container-week):has(
  :is(
    .dow01-hour10:hover,
    .dow02-hour10:hover,
    .dow03-hour10:hover,
    .dow04-hour10:hover,
    .dow05-hour10:hover,
    .dow06-hour10:hover,
    .dow07-hour10:hover
  )
)
  .hour10 {
  font-weight: var(--theme-font-weight-bold);
}

body:has(.day-container-week):has(
  :is(
    .dow01-hour11:hover,
    .dow02-hour11:hover,
    .dow03-hour11:hover,
    .dow04-hour11:hover,
    .dow05-hour11:hover,
    .dow06-hour11:hover,
    .dow07-hour11:hover
  )
)
  .hour11 {
  font-weight: var(--theme-font-weight-bold);
}

body:has(.day-container-week):has(
  :is(
    .dow01-hour12:hover,
    .dow02-hour12:hover,
    .dow03-hour12:hover,
    .dow04-hour12:hover,
    .dow05-hour12:hover,
    .dow06-hour12:hover,
    .dow07-hour12:hover
  )
)
  .hour12 {
  font-weight: var(--theme-font-weight-bold);
}

body:has(.day-container-week):has(
  :is(
    .dow01-hour13:hover,
    .dow02-hour13:hover,
    .dow03-hour13:hover,
    .dow04-hour13:hover,
    .dow05-hour13:hover,
    .dow06-hour13:hover,
    .dow07-hour13:hover
  )
)
  .hour13 {
  font-weight: var(--theme-font-weight-bold);
}

body:has(.day-container-week):has(
  :is(
    .dow01-hour14:hover,
    .dow02-hour14:hover,
    .dow03-hour14:hover,
    .dow04-hour14:hover,
    .dow05-hour14:hover,
    .dow06-hour14:hover,
    .dow07-hour14:hover
  )
)
  .hour14 {
  font-weight: var(--theme-font-weight-bold);
}

body:has(.day-container-week):has(
  :is(
    .dow01-hour14:hover,
    .dow02-hour14:hover,
    .dow03-hour14:hover,
    .dow04-hour14:hover,
    .dow05-hour14:hover,
    .dow06-hour14:hover,
    .dow07-hour14:hover
  )
)
  .hour14 {
  font-weight: var(--theme-font-weight-bold);
}

body:has(.day-container-week):has(
  :is(
    .dow01-hour15:hover,
    .dow02-hour15:hover,
    .dow03-hour15:hover,
    .dow04-hour15:hover,
    .dow05-hour15:hover,
    .dow06-hour15:hover,
    .dow07-hour15:hover
  )
)
  .hour15 {
  font-weight: var(--theme-font-weight-bold);
}

body:has(.day-container-week):has(
  :is(
    .dow01-hour16:hover,
    .dow02-hour16:hover,
    .dow03-hour16:hover,
    .dow04-hour16:hover,
    .dow05-hour16:hover,
    .dow06-hour16:hover,
    .dow07-hour16:hover
  )
)
  .hour16 {
  font-weight: var(--theme-font-weight-bold);
}

body:has(.day-container-week):has(
  :is(
    .dow01-hour17:hover,
    .dow02-hour17:hover,
    .dow03-hour17:hover,
    .dow04-hour17:hover,
    .dow05-hour17:hover,
    .dow06-hour17:hover,
    .dow07-hour17:hover
  )
)
  .hour17 {
  font-weight: var(--theme-font-weight-bold);
}

body:has(.day-container-week):has(
  :is(
    .dow01-hour18:hover,
    .dow02-hour18:hover,
    .dow03-hour18:hover,
    .dow04-hour18:hover,
    .dow05-hour18:hover,
    .dow06-hour18:hover,
    .dow07-hour18:hover
  )
)
  .hour18 {
  font-weight: var(--theme-font-weight-bold);
}

body:has(.day-container-week):has(
  :is(
    .dow01-hour19:hover,
    .dow02-hour19:hover,
    .dow03-hour19:hover,
    .dow04-hour19:hover,
    .dow05-hour19:hover,
    .dow06-hour19:hover,
    .dow07-hour19:hover
  )
)
  .hour19 {
  font-weight: var(--theme-font-weight-bold);
}

body:has(.day-container-week):has(
  :is(
    .dow01-hour20:hover,
    .dow02-hour20:hover,
    .dow03-hour20:hover,
    .dow04-hour20:hover,
    .dow05-hour20:hover,
    .dow06-hour20:hover,
    .dow07-hour20:hover
  )
)
  .hour20 {
  font-weight: var(--theme-font-weight-bold);
}

body:has(.day-container-week):has(
  :is(
    .dow01-hour21:hover,
    .dow02-hour21:hover,
    .dow03-hour21:hover,
    .dow04-hour21:hover,
    .dow05-hour21:hover,
    .dow06-hour21:hover,
    .dow07-hour21:hover
  )
)
  .hour21 {
  font-weight: var(--theme-font-weight-bold);
}

body:has(.day-container-week):has(
  :is(
    .dow01-hour22:hover,
    .dow02-hour22:hover,
    .dow03-hour22:hover,
    .dow04-hour22:hover,
    .dow05-hour22:hover,
    .dow06-hour22:hover,
    .dow07-hour22:hover
  )
)
  .hour22 {
  font-weight: var(--theme-font-weight-bold);
}

body:has(.day-container-week):has(
  :is(
    .dow01-hour23:hover,
    .dow02-hour23:hover,
    .dow03-hour23:hover,
    .dow04-hour23:hover,
    .dow05-hour23:hover,
    .dow06-hour23:hover,
    .dow07-hour23:hover
  )
)
  .hour23 {
  font-weight: var(--theme-font-weight-bold);
}

.tz-offset {
  grid-area: tz-offset;
}
.all-day {
  grid-area: all-day;
}
.all-day01 {
  grid-area: all-day01;
}
.all-day02 {
  grid-area: all-day02;
}
.all-day03 {
  grid-area: all-day03;
}
.all-day04 {
  grid-area: all-day04;
}
.all-day05 {
  grid-area: all-day05;
}
.all-day06 {
  grid-area: all-day06;
}
.all-day07 {
  grid-area: all-day07;
}
.hour00 {
  grid-area: hour00;
}
.hour01 {
  grid-area: hour01;
}
.hour02 {
  grid-area: hour02;
}
.hour03 {
  grid-area: hour03;
}
.hour04 {
  grid-area: hour04;
}
.hour05 {
  grid-area: hour05;
}
.hour06 {
  grid-area: hour06;
}
.hour07 {
  grid-area: hour07;
}
.hour08 {
  grid-area: hour08;
}
.hour09 {
  grid-area: hour09;
}
.hour10 {
  grid-area: hour10;
}
.hour11 {
  grid-area: hour11;
}
.hour12 {
  grid-area: hour12;
}
.hour13 {
  grid-area: hour13;
}
.hour14 {
  grid-area: hour14;
}
.hour15 {
  grid-area: hour15;
}
.hour16 {
  grid-area: hour16;
}
.hour17 {
  grid-area: hour17;
}
.hour18 {
  grid-area: hour18;
}
.hour19 {
  grid-area: hour19;
}
.hour20 {
  grid-area: hour20;
}
.hour21 {
  grid-area: hour21;
}
.hour22 {
  grid-area: hour22;
}
.hour23 {
  grid-area: hour23;
}
.dow01-hour00 {
  grid-area: dow01-hour00;
}
.dow01-hour01 {
  grid-area: dow01-hour01;
}
.dow01-hour02 {
  grid-area: dow01-hour02;
}
.dow01-hour03 {
  grid-area: dow01-hour03;
}
.dow01-hour04 {
  grid-area: dow01-hour04;
}
.dow01-hour05 {
  grid-area: dow01-hour05;
}
.dow01-hour06 {
  grid-area: dow01-hour06;
}
.dow01-hour07 {
  grid-area: dow01-hour07;
}
.dow01-hour08 {
  grid-area: dow01-hour08;
}
.dow01-hour09 {
  grid-area: dow01-hour09;
}
.dow01-hour10 {
  grid-area: dow01-hour10;
}
.dow01-hour11 {
  grid-area: dow01-hour11;
}
.dow01-hour12 {
  grid-area: dow01-hour12;
}
.dow01-hour13 {
  grid-area: dow01-hour13;
}
.dow01-hour14 {
  grid-area: dow01-hour14;
}
.dow01-hour15 {
  grid-area: dow01-hour15;
}
.dow01-hour16 {
  grid-area: dow01-hour16;
}
.dow01-hour17 {
  grid-area: dow01-hour17;
}
.dow01-hour18 {
  grid-area: dow01-hour18;
}
.dow01-hour19 {
  grid-area: dow01-hour19;
}
.dow01-hour20 {
  grid-area: dow01-hour20;
}
.dow01-hour21 {
  grid-area: dow01-hour21;
}
.dow01-hour22 {
  grid-area: dow01-hour22;
}
.dow01-hour23 {
  grid-area: dow01-hour23;
}

.dow02-hour00 {
  grid-area: dow02-hour00;
}
.dow02-hour01 {
  grid-area: dow02-hour01;
}
.dow02-hour02 {
  grid-area: dow02-hour02;
}
.dow02-hour03 {
  grid-area: dow02-hour03;
}
.dow02-hour04 {
  grid-area: dow02-hour04;
}
.dow02-hour05 {
  grid-area: dow02-hour05;
}
.dow02-hour06 {
  grid-area: dow02-hour06;
}
.dow02-hour07 {
  grid-area: dow02-hour07;
}
.dow02-hour08 {
  grid-area: dow02-hour08;
}
.dow02-hour09 {
  grid-area: dow02-hour09;
}
.dow02-hour10 {
  grid-area: dow02-hour10;
}
.dow02-hour11 {
  grid-area: dow02-hour11;
}
.dow02-hour12 {
  grid-area: dow02-hour12;
}
.dow02-hour13 {
  grid-area: dow02-hour13;
}
.dow02-hour14 {
  grid-area: dow02-hour14;
}
.dow02-hour15 {
  grid-area: dow02-hour15;
}
.dow02-hour16 {
  grid-area: dow02-hour16;
}
.dow02-hour17 {
  grid-area: dow02-hour17;
}
.dow02-hour18 {
  grid-area: dow02-hour18;
}
.dow02-hour19 {
  grid-area: dow02-hour19;
}
.dow02-hour20 {
  grid-area: dow02-hour20;
}
.dow02-hour21 {
  grid-area: dow02-hour21;
}
.dow02-hour22 {
  grid-area: dow02-hour22;
}
.dow02-hour23 {
  grid-area: dow02-hour23;
}

.dow03-hour00 {
  grid-area: dow03-hour00;
}
.dow03-hour01 {
  grid-area: dow03-hour01;
}
.dow03-hour02 {
  grid-area: dow03-hour02;
}
.dow03-hour03 {
  grid-area: dow03-hour03;
}
.dow03-hour04 {
  grid-area: dow03-hour04;
}
.dow03-hour05 {
  grid-area: dow03-hour05;
}
.dow03-hour06 {
  grid-area: dow03-hour06;
}
.dow03-hour07 {
  grid-area: dow03-hour07;
}
.dow03-hour08 {
  grid-area: dow03-hour08;
}
.dow03-hour09 {
  grid-area: dow03-hour09;
}
.dow03-hour10 {
  grid-area: dow03-hour10;
}
.dow03-hour11 {
  grid-area: dow03-hour11;
}
.dow03-hour12 {
  grid-area: dow03-hour12;
}
.dow03-hour13 {
  grid-area: dow03-hour13;
}
.dow03-hour14 {
  grid-area: dow03-hour14;
}
.dow03-hour15 {
  grid-area: dow03-hour15;
}
.dow03-hour16 {
  grid-area: dow03-hour16;
}
.dow03-hour17 {
  grid-area: dow03-hour17;
}
.dow03-hour18 {
  grid-area: dow03-hour18;
}
.dow03-hour19 {
  grid-area: dow03-hour19;
}
.dow03-hour20 {
  grid-area: dow03-hour20;
}
.dow03-hour21 {
  grid-area: dow03-hour21;
}
.dow03-hour22 {
  grid-area: dow03-hour22;
}
.dow03-hour23 {
  grid-area: dow03-hour23;
}

.dow04-hour00 {
  grid-area: dow04-hour00;
}
.dow04-hour01 {
  grid-area: dow04-hour01;
}
.dow04-hour02 {
  grid-area: dow04-hour02;
}
.dow04-hour03 {
  grid-area: dow04-hour03;
}
.dow04-hour04 {
  grid-area: dow04-hour04;
}
.dow04-hour05 {
  grid-area: dow04-hour05;
}
.dow04-hour06 {
  grid-area: dow04-hour06;
}
.dow04-hour07 {
  grid-area: dow04-hour07;
}
.dow04-hour08 {
  grid-area: dow04-hour08;
}
.dow04-hour09 {
  grid-area: dow04-hour09;
}
.dow04-hour10 {
  grid-area: dow04-hour10;
}
.dow04-hour11 {
  grid-area: dow04-hour11;
}
.dow04-hour12 {
  grid-area: dow04-hour12;
}
.dow04-hour13 {
  grid-area: dow04-hour13;
}
.dow04-hour14 {
  grid-area: dow04-hour14;
}
.dow04-hour15 {
  grid-area: dow04-hour15;
}
.dow04-hour16 {
  grid-area: dow04-hour16;
}
.dow04-hour17 {
  grid-area: dow04-hour17;
}
.dow04-hour18 {
  grid-area: dow04-hour18;
}
.dow04-hour19 {
  grid-area: dow04-hour19;
}
.dow04-hour20 {
  grid-area: dow04-hour20;
}
.dow04-hour21 {
  grid-area: dow04-hour21;
}
.dow04-hour22 {
  grid-area: dow04-hour22;
}
.dow04-hour23 {
  grid-area: dow04-hour23;
}

.dow05-hour00 {
  grid-area: dow05-hour00;
}
.dow05-hour01 {
  grid-area: dow05-hour01;
}
.dow05-hour02 {
  grid-area: dow05-hour02;
}
.dow05-hour03 {
  grid-area: dow05-hour03;
}
.dow05-hour04 {
  grid-area: dow05-hour04;
}
.dow05-hour05 {
  grid-area: dow05-hour05;
}
.dow05-hour06 {
  grid-area: dow05-hour06;
}
.dow05-hour07 {
  grid-area: dow05-hour07;
}
.dow05-hour08 {
  grid-area: dow05-hour08;
}
.dow05-hour09 {
  grid-area: dow05-hour09;
}
.dow05-hour10 {
  grid-area: dow05-hour10;
}
.dow05-hour11 {
  grid-area: dow05-hour11;
}
.dow05-hour12 {
  grid-area: dow05-hour12;
}
.dow05-hour13 {
  grid-area: dow05-hour13;
}
.dow05-hour14 {
  grid-area: dow05-hour14;
}
.dow05-hour15 {
  grid-area: dow05-hour15;
}
.dow05-hour16 {
  grid-area: dow05-hour16;
}
.dow05-hour17 {
  grid-area: dow05-hour17;
}
.dow05-hour18 {
  grid-area: dow05-hour18;
}
.dow05-hour19 {
  grid-area: dow05-hour19;
}
.dow05-hour20 {
  grid-area: dow05-hour20;
}
.dow05-hour21 {
  grid-area: dow05-hour21;
}
.dow05-hour22 {
  grid-area: dow05-hour22;
}
.dow05-hour23 {
  grid-area: dow05-hour23;
}

.dow06-hour00 {
  grid-area: dow06-hour00;
}
.dow06-hour01 {
  grid-area: dow06-hour01;
}
.dow06-hour02 {
  grid-area: dow06-hour02;
}
.dow06-hour03 {
  grid-area: dow06-hour03;
}
.dow06-hour04 {
  grid-area: dow06-hour04;
}
.dow06-hour05 {
  grid-area: dow06-hour05;
}
.dow06-hour06 {
  grid-area: dow06-hour06;
}
.dow06-hour07 {
  grid-area: dow06-hour07;
}
.dow06-hour08 {
  grid-area: dow06-hour08;
}
.dow06-hour09 {
  grid-area: dow06-hour09;
}
.dow06-hour10 {
  grid-area: dow06-hour10;
}
.dow06-hour11 {
  grid-area: dow06-hour11;
}
.dow06-hour12 {
  grid-area: dow06-hour12;
}
.dow06-hour13 {
  grid-area: dow06-hour13;
}
.dow06-hour14 {
  grid-area: dow06-hour14;
}
.dow06-hour15 {
  grid-area: dow06-hour15;
}
.dow06-hour16 {
  grid-area: dow06-hour16;
}
.dow06-hour17 {
  grid-area: dow06-hour17;
}
.dow06-hour18 {
  grid-area: dow06-hour18;
}
.dow06-hour19 {
  grid-area: dow06-hour19;
}
.dow06-hour20 {
  grid-area: dow06-hour20;
}
.dow06-hour21 {
  grid-area: dow06-hour21;
}
.dow06-hour22 {
  grid-area: dow06-hour22;
}
.dow06-hour23 {
  grid-area: dow06-hour23;
}

.dow07-hour00 {
  grid-area: dow07-hour00;
}
.dow07-hour01 {
  grid-area: dow07-hour01;
}
.dow07-hour02 {
  grid-area: dow07-hour02;
}
.dow07-hour03 {
  grid-area: dow07-hour03;
}
.dow07-hour04 {
  grid-area: dow07-hour04;
}
.dow07-hour05 {
  grid-area: dow07-hour05;
}
.dow07-hour06 {
  grid-area: dow07-hour06;
}
.dow07-hour07 {
  grid-area: dow07-hour07;
}
.dow07-hour08 {
  grid-area: dow07-hour08;
}
.dow07-hour09 {
  grid-area: dow07-hour09;
}
.dow07-hour10 {
  grid-area: dow07-hour10;
}
.dow07-hour11 {
  grid-area: dow07-hour11;
}
.dow07-hour12 {
  grid-area: dow07-hour12;
}
.dow07-hour13 {
  grid-area: dow07-hour13;
}
.dow07-hour14 {
  grid-area: dow07-hour14;
}
.dow07-hour15 {
  grid-area: dow07-hour15;
}
.dow07-hour16 {
  grid-area: dow07-hour16;
}
.dow07-hour17 {
  grid-area: dow07-hour17;
}
.dow07-hour18 {
  grid-area: dow07-hour18;
}
.dow07-hour19 {
  grid-area: dow07-hour19;
}
.dow07-hour20 {
  grid-area: dow07-hour20;
}
.dow07-hour21 {
  grid-area: dow07-hour21;
}
.dow07-hour22 {
  grid-area: dow07-hour22;
}
.dow07-hour23 {
  grid-area: dow07-hour23;
}
