.form-input {
  display: flex;
  flex-direction: column-reverse;
}
.form-check-input {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

input.invalid {
  border-color: var(--theme-color-error) !important;
}

small.invalid,
label.invalid {
  color: var(--theme-color-error) !important;
}

small.helper-text {
  text-indent: 2px;
  margin-top: 4px;
}

label {
  display: block;
  text-transform: uppercase;
  font-size: small;
  font-weight: var(--theme-font-weight-semibold);
  margin-bottom: 2px;
  margin-left: 1px;
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
  transition-property: color, opacity;
  transition-duration: 0.3s;
  transition-timing-function: ease;
}
input[type='checkbox'] + label,
input[type='radio'] + label {
  float: right;
  width: 100%;
  text-align: right;
}
label:invalid {
  color: var(--theme-color-error);
}
textarea:disabled + label,
select:disabled + label,
input[type='checkbox']:disabled + label,
input[type='radio']:disabled + label,
input[type='text']:disabled + label,
input[type='search']:disabled + label,
input[type='number']:disabled + label,
input[type='url']:disabled + label,
input[type='date']:disabled + label,
input[type='datetime-local']:disabled + label,
input[type='month']:disabled + label,
input[type='week']:disabled + label,
input[type='time']:disabled + label,
input[type='time']:disabled + label,
input[type='tel']:disabled + label,
input[type='email']:disabled + label,
input[type='password']:disabled + label,
input[type='color']:disabled + label,
input[type='range']:disabled + label {
  opacity: 0.3;
  cursor: not-allowed;
}

textarea:invalid + label,
select:invalid + label,
input[type='checkbox']:invalid + label,
input[type='radio']:invalid + label,
input[type='text']:invalid + label,
input[type='search']:invalid + label,
input[type='number']:invalid + label,
input[type='url']:invalid + label,
input[type='date']:invalid + label,
input[type='datetime-local']:invalid + label,
input[type='month']:invalid + label,
input[type='week']:invalid + label,
input[type='time']:invalid + label,
input[type='time']:invalid + label,
input[type='tel']:invalid + label,
input[type='email']:invalid + label,
input[type='password']:invalid + label,
input[type='color']:invalid + label,
input[type='range']:invalid + label {
  color: var(--theme-color-error);
}

textarea:required + label::after,
select:required + label::after,
input[type='checkbox']:required + label::after,
input[type='radio']:required + label::after,
input[type='text']:required + label::after,
input[type='search']:required + label::after,
input[type='number']:required + label::after,
input[type='url']:required + label::after,
input[type='date']:required + label::after,
input[type='datetime-local']:required + label::after,
input[type='month']:required + label::after,
input[type='week']:required + label::after,
input[type='time']:required + label::after,
input[type='time']:required + label::after,
input[type='tel']:required + label::after,
input[type='email']:required + label::after,
input[type='password']:required + label::after,
input[type='color']:required + label::after,
input[type='range']:required + label::after {
  content: ' *';
}

label[for='meter'],
label[for='progress'] {
  cursor: default;
}

textarea {
  resize: none;
}

textarea,
select,
input[type='text'],
input[type='search'],
input[type='number'],
input[type='url'],
input[type='date'],
input[type='datetime-local'],
input[type='month'],
input[type='week'],
input[type='time'],
input[type='tel'],
input[type='email'],
input[type='password'],
input[type='file'],
input[type='color'],
input[type='range'] {
  border-radius: var(--theme-border-radius);
  border-style: var(--theme-border-style);
  border-width: 1px;
  color: light-dark(var(--theme-color-25), var(--theme-color-01));
  background: light-dark(var(--theme-color-03), var(--theme-color-22));
  transition-property: color, background, border-color;
  transition-duration: 0.3s;
  transition-timing-function: ease;

  &:valid {
    border-color: light-dark(var(--theme-color-19), var(--theme-color-06));
  }

  &:invalid {
    border-color: var(--theme-color-error);
  }

  &:focus {
    transition: none;
    outline: 1px var(--theme-border-style) light-dark(var(--theme-color-25), var(--theme-color-01));
    outline-offset: 1px;
  }

  &:placeholder-shown {
    color: light-dark(var(--theme-color-20), var(--theme-color-05));
  }
}

input[type='range'] {
  width: 100%;
  height: 14px;
  background: transparent;
}

/* https://css-tricks.com/styling-cross-browser-compatible-range-inputs-css/ */
input[type='range']::-ms-track {
  width: 100%;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  color: transparent;
  appearance: none;
}
input[type='range']::-ms-thumb {
  background: var(--theme-color-05);
  border-left: 1px solid light-dark(var(--theme-color-21), var(--theme-color-04));
  border-right: 1px solid light-dark(var(--theme-color-21), var(--theme-color-04));
  border-radius: var(--theme-border-radius);
  width: 12px;
  height: 100%;
  cursor: grab;
  appearance: none;
  transition-property: background, color, border-color;
  transition-duration: 0.3s;
  transition-timing-function: ease;
}
input[type='range']::-ms-thumb:active {
  cursor: grabbing;
}

input[type='range']::-webkit-slider-thumb {
  background: var(--theme-color-05);
  border-left: 1px solid light-dark(var(--theme-color-21), var(--theme-color-04));
  border-right: 1px solid light-dark(var(--theme-color-21), var(--theme-color-04));
  border-radius: var(--theme-border-radius);
  width: 12px;
  height: 100%;
  cursor: grab;
  appearance: none;
  transition-property: background, color, border-color;
  transition-duration: 0.3s;
  transition-timing-function: ease;
}
input[type='range']::-webkit-slider-thumb:active {
  cursor: grabbing;
}

input[type='range']::-moz-range-thumb {
  background: var(--theme-color-05);
  border: 1px solid light-dark(var(--theme-color-21), var(--theme-color-04));
  border-radius: var(--theme-border-radius);
  width: 12px;
  height: 100%;
  cursor: grab;
  appearance: none;
  transition-property: background, color, border-color;
  transition-duration: 0.3s;
  transition-timing-function: ease;
}
input[type='range']::-moz-range-thumb:active {
  cursor: grabbing;
}

input[type='range']::-ms-track {
  appearance: none;
  background: transparent;
  color: transparent;
  width: 100%;
  height: 100%;
  cursor: pointer;
}

input[type='range']::-webkit-slider-runnable-track {
  appearance: none;
  background: transparent;
  width: 100%;
  height: 100%;
  cursor: pointer;
}

input[type='range']::-moz-range-track {
  appearance: none;
  width: 100%;
  height: 100%;
  cursor: pointer;
}

input[type='range']::-moz-range-progress {
  background: light-dark(var(--theme-color-14), var(--theme-color-12));
  height: 100%;
  cursor: pointer;
  transition: background 0.3s ease;
}

input[type='color'] {
  cursor: pointer;

  &:disabled {
    cursor: not-allowed;
  }
}

input[type='checkbox'],
input[type='radio'] {
  display: flex;
  transition: 0.3s all linear;
  position: relative;
  font-size: 0.9em;
  min-width: 0.9em;
  min-height: 0.9em;
  border: 1px solid light-dark(var(--theme-color-22), var(--theme-color-04));
  margin-left: 0;

  /* Set here so that Windows' High-Contrast Mode can override */
  color: light-dark(var(--theme-color-25), var(--theme-color-01));

  &:focus {
    transition: none;
    outline: 1px var(--theme-border-style) light-dark(var(--theme-color-25), var(--theme-color-01));
    outline-offset: 1px;
  }

  &:disabled {
    opacity: 0.3;
    cursor: not-allowed;
  }
}
@media (hover: hover) {
  input[type='checkbox']:hover,
  input[type='radio']:hover {
    background: light-dark(var(--theme-color-05), var(--theme-color-15));
  }
}
/* TODO: indeterminate state */
input[type='checkbox']::before {
  content: '✖';
  font-family: var(--theme-font);
  position: absolute;
  font-size: 0.9em;
  left: 0;
  top: -2.5px;
  visibility: hidden;
  margin: 0;
}
html[data-user-agent*='Chrome'] input[type='checkbox']::before {
  left: 0.5px;
}
input[type='checkbox']:checked::before {
  visibility: visible;
}

input[type='radio'] {
  border-radius: 50%;
  margin-top: -1px;
}
input[type='radio']:checked {
  background: light-dark(var(--theme-color-25), var(--theme-color-01));
  box-shadow: inset 0 0 0 3px light-dark(var(--theme-color-01), var(--theme-color-25));
}

fieldset {
  background: light-dark(var(--theme-color-02), var(--theme-color-21));
  border: 1px var(--theme-border-style) light-dark(var(--theme-color-23), var(--theme-color-03));
  transition:
    background 0.3s ease,
    color 0.3s ease,
    border-color 0.3s ease,
    transform 0.2s linear,
    box-shadow 0.2s linear;
}
fieldset:focus-within {
  border: 1px var(--theme-border-style) light-dark(var(--theme-color-25), var(--theme-color-01));
  box-shadow: 4px 4px 0 0 light-dark(var(--theme-color-20), var(--theme-color-14));
  transform: translateX(-2px) translateY(-2px);
}

legend {
  text-transform: uppercase;
  font-size: small;
  transition: color 0.3s ease;
}
legend::before {
  content: '[ ';
}
legend::after {
  content: ' ]';
}

select {
  cursor: pointer;
  width: clamp(100px, 100px, 100px);
  height: clamp(4em, 6em, 8em);
  scrollbar-color: light-dark(var(--theme-color-10), var(--theme-color-15)) transparent;
  scrollbar-width: thin;
  overflow-x: hidden;
  overflow-y: scroll;
  transition-property: scrollbar-color, background, color, border-color, opacity;
  transition-duration: 0.3s;
  transition-timing-function: ease;
}
select > option {
  overflow: hidden;
  width: 100%;
  white-space: nowrap;
  text-overflow: ellipsis;
  transition-property: background, color;
  transition-duration: 0.3s;
  transition-timing-function: ease;
}
@media (hover: hover) {
  select > option:hover {
    background: light-dark(var(--theme-color-06), var(--theme-color-19));
  }
}
select > option[disabled] {
  opacity: 0.4;
}
@media (hover: hover) {
  select > option[disabled]:hover {
    background: transparent;
    cursor: not-allowed;
  }
}
select:disabled > option:hover {
  background: transparent;
}
select > option[selected] {
  background: light-dark(var(--theme-color-08), var(--theme-color-18));
}
@media (hover: hover) {
  select:disabled > option[selected]:hover {
    background: light-dark(var(--theme-color-08), var(--theme-color-18));
  }
}

input[type='file'] {
  height: 0;
  padding: 0;
  opacity: 0;
}
label[for='file'] {
  cursor: pointer;
  width: fit-content;
  text-transform: uppercase;
  box-shadow: 1.5px 2px 0 0 light-dark(var(--theme-color-20), var(--theme-color-05));
  background: light-dark(var(--theme-color-21), var(--theme-color-04));
  color: light-dark(var(--theme-color-01), var(--theme-color-25));
  border-radius: var(--theme-border-radius);
  border: 1px solid light-dark(var(--theme-color-05), var(--theme-color-20));
  font-weight: var(--theme-font-weight-medium);
  padding: var(--theme-padding-medium) var(--theme-padding-comfortable);
  transition:
    background 0.3s ease,
    color 0.3s ease,
    border-color 0.3s ease,
    box-shadow 0.2s linear,
    transform 0.2s linear;
}
@media (hover: hover) {
  label[for='file']:hover:not(:disabled) {
    background: light-dark(var(--theme-color-18), var(--theme-color-05));
    box-shadow: 0.5px 1px 0 0 light-dark(var(--theme-color-20), var(--theme-color-05));
    transform: translateX(1px) translateY(1px);
  }
}
label[for='file']:active:not(:disabled) {
  background: light-dark(var(--theme-color-04), var(--theme-color-21));
  box-shadow: inset 0.5px 0.5px 0 0 light-dark(var(--theme-color-20), var(--theme-color-05));
  color: light-dark(var(--theme-color-25), var(--theme-color-01));
}
label[for='file']:disabled {
  opacity: 0.3;
  cursor: not-allowed;
}
label[for='file']:focus-visible {
  transition: none;
  outline: 1px solid light-dark(var(--theme-color-25), var(--theme-color-01));
  outline-offset: 1px;
}

input[type='search'] {
  transition-property: background, background-color, color, border-color, stroke;
  transition-duration: 0.3s;
  transition-timing-function: ease;
}

[data-theme='light'] input[type='search'] {
  background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 256 256"><rect width="256" height="256" fill="none"/><circle cx="112" cy="112" r="80" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="12"/><line x1="168.57" y1="168.57" x2="224" y2="224" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="12"/></svg>')
    no-repeat left;
  background-size: 16px;
  background-color: light-dark(var(--theme-color-03), var(--theme-color-22));
  padding-left: calc(16px + var(--theme-padding-dense));
}
[data-theme='dark'] input[type='search'] {
  background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 256 256"><rect width="256" height="256" fill="none"/><circle cx="112" cy="112" r="80" fill="none" stroke="%23ffffff" stroke-linecap="round" stroke-linejoin="round" stroke-width="12"/><line x1="168.57" y1="168.57" x2="224" y2="224" fill="none" stroke="%23ffffff" stroke-linecap="round" stroke-linejoin="round" stroke-width="12"/></svg>')
    no-repeat left;
  background-size: 16px;
  background-color: light-dark(var(--theme-color-03), var(--theme-color-22));
  padding-left: calc(16px + var(--theme-padding-dense));
}
