* {
  font-family: Manrope, monospace;
  font-optical-sizing: auto;
  font-weight: 400;
}

h1, h2, h3, h4 {
  font-family: Overpass Mono, monospace;
  font-optical-sizing: auto;
  font-weight: 500;
  text-transform: uppercase;
}

/* https://developer.mozilla.org/en-US/docs/Web/HTML/Reference/Elements/kbd */
kbd {
  font-family: monospace;
  background-color: #eee;
  border-radius: 3px;
  border: 1px solid #b4b4b4;
  box-shadow: 0 1px 1px rgb(0 0 0 / 0.2), 0 2px 0 0 rgb(255 255 255 / 0.7) inset;
  color: #333;
  display: inline-block;
  font-size: 0.85em;
  font-weight: 700;
  line-height: 1;
  padding: 2px 4px;
  white-space: nowrap;
  width: fit-content;
}

button,
blockquote,
hr,
meter,
input[type='checkbox'],
input[type='radio'],
input[type='date'],
input[type='datetime-local'],
input[type='month'],
input[type='time'],
input[type='text'],
input[type='search'],
input[type='number'],
input[type='url'],
input[type='tel'],
input[type='email'],
input[type='password'],
input[type='file'],
input[type='color'],
input[type='range'] {
  appearance: none;
}
