ul {
  list-style-type: square;
  list-style-position: inside;
}
ul li::marker {
  margin-right: 0.5em;
  font-size: 1em;
}
ul li::before {
  content: ' ';
}

ol {
  counter-reset: item;
}
ol li {
  display: block;
}
ol li::before {
  content: counters(item, '.') ' ';
  counter-increment: item;
  font-size: small;
  font-weight: var(--theme-font-weight-bold);
  margin-right: 0.5em;
  color: light-dark(var(--theme-color-21), var(--theme-color-02));
}
