.circle-pulse-1 {
  --size: 1em;
  --color: currentColor;
  --animation-timing-function: linear;
  --animation-duration: 2s;
  position: relative;
  width: var(--size);
  height: var(--size);
  cursor: wait;
}

.circle-pulse-1::before,
.circle-pulse-1::after {
  content: '';
  position: absolute;
  inset: 0;
  background-color: var(--color);
  border-radius: 50%;
  opacity: 1;
  transform: scale(0);
  animation: var(--animation-timing-function) var(--animation-duration) infinite circle-pulse-1-animation;
}

.circle-pulse-1::after {
  animation-delay: calc(var(--animation-duration) / 2);
}

@keyframes circle-pulse-1-animation {
  0% {
    opacity: 1;
    transform: scale(0);
  }

  100% {
    opacity: 0;
    transform: scale(1);
  }
}
