#nav-menu {
  position-area: bottom span-right;
  border: none;
  padding: 0;
  overflow: visible;
}

#nav-menu > .content {
  display: flex;
  flex-direction: column;
  overflow: inherit;
}

.nav-link {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1em;
  text-decoration: none;
  text-transform: uppercase;
  min-width: 8em;
  max-width: unset;
  width: 100%;
  cursor: pointer;
  background: light-dark(var(--theme-color-21), var(--theme-color-04));
  border-radius: var(--theme-border-radius);
  border: 1px solid light-dark(var(--theme-color-05), var(--theme-color-20));
  font-weight: var(--theme-font-weight-bold);
  padding: var(--theme-padding-medium) var(--theme-padding-comfortable);
  box-shadow: 1.5px 2px 0 0 light-dark(var(--theme-color-20), var(--theme-color-05));
  color: light-dark(var(--theme-color-01), var(--theme-color-25));
}
.nav-link:hover {
  background: light-dark(var(--theme-color-18), var(--theme-color-05));
  box-shadow: 0.5px 1px 0 0 light-dark(var(--theme-color-20), var(--theme-color-05));
  transform: translateX(1px) translateY(1px);
}
.nav-link:active {
  background: light-dark(var(--theme-color-04), var(--theme-color-21));
  box-shadow: inset 0.5px 0.5px 0 0 light-dark(var(--theme-color-20), var(--theme-color-05));
  color: light-dark(var(--theme-color-25), var(--theme-color-01));
}
.nav-link:focus-visible {
  transition: none;
  outline: none;
  background: light-dark(var(--theme-color-18), var(--theme-color-07));
}
.nav-link:focus {
  outline: none;
}

.nav-link > span {
  width: 6em;
  text-align: left;
  color: light-dark(var(--theme-color-01), var(--theme-color-25));
}
.nav-link > span:active {
  color: light-dark(var(--theme-color-25), var(--theme-color-01));
}
