.segmented-control {
  background: light-dark(var(--theme-color-05), var(--theme-color-20));
  display: inline-flex;
  position: relative;
  border-radius: var(--theme-border-radius);
  padding: 0 var(--theme-padding-medium);
  border: 2px double light-dark(var(--theme-color-20), var(--theme-color-10));
  border-left: 1px solid light-dark(var(--theme-color-20), var(--theme-color-10));
  border-right: 1px solid light-dark(var(--theme-color-20), var(--theme-color-10));
  transition-property: color, background, border-color;
  transition-duration: 0.3s;
  transition-timing-function: ease;
  --width: 5rem;
}

.segmented-control input[type='radio'] + label {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: var(--theme-padding-dense) var(--theme-padding-medium);
  width: var(--width);
  text-align: center;
  z-index: 1;
  margin: 0;
}
.segmented-control input[type='radio'] + label:focus-visible {
  transition: none;
  outline-color: light-dark(var(--theme-color-25), var(--theme-color-01));
  outline-width: medium;
  outline-style: double;
  outline-offset: -2px;
}
.segmented-control input[type='radio']:not(:checked) + label {
  color: light-dark(var(--theme-color-16), var(--theme-color-10));
}

.segmented-control-focus {
  width: var(--width);
  position: absolute;
  left: var(--theme-padding-medium);
  top: calc(var(--theme-padding-medium) / 2 * -1);
  height: calc(100% + var(--theme-padding-medium));
  border-radius: inherit;
  background: light-dark(var(--theme-color-07), var(--theme-color-15));
  outline-color: light-dark(var(--theme-color-20), var(--theme-color-05));
  outline-width: 1px;
  outline-style: solid;
  opacity: 0.8;
  transition-property: background, color, transform, outline-color;
  transition-duration: 0.3s;
  transition-timing-function: linear;
}

.segmented-control [type='radio'] {
  display: none;
  position: relative;
}

.segmented-control [type='radio']:nth-child(3):checked ~ .segmented-control-focus {
  transform: translateX(calc(var(--width) * 1));
}
.segmented-control [type='radio']:nth-child(5):checked ~ .segmented-control-focus {
  transform: translateX(calc(var(--width) * 2));
}
.segmented-control [type='radio']:nth-child(7):checked ~ .segmented-control-focus {
  transform: translateX(calc(var(--width) * 3));
}
