p,
span,
time,
dfn,
em {
  transition-property: color, background;
  transition-duration: 0.3s;
  transition-timing-function: ease;
}

strong {
  font-weight: var(--theme-font-weight-semibold);
  transition: color 0.3s ease;
}

small {
  font-size: x-small;
  font-weight: var(--theme-font-weight-normal);
  font-variant-caps: all-small-caps;
  text-rendering: optimizeLegibility;
  transition: color 0.3s ease;
}

abbr {
  text-decoration: underline;
  text-underline-offset: 4px;
  text-decoration-thickness: 2px;
  text-decoration-style: dotted;
  text-decoration-color: light-dark(var(--theme-color-15), var(--theme-color-10));
  width: fit-content;
  font-weight: var(--theme-font-weight-semibold);
  text-transform: uppercase;
  color: light-dark(var(--theme-color-20), var(--theme-color-05));
  cursor: help;
  transition-property: text-decoration-color, color;
  transition-duration: 0.3s;
  transition-timing-function: ease;
}

address {
  font-style: normal;
  line-height: 1em;
  transition: color 0.3s ease;
}

mark {
  color: light-dark(var(--theme-color-01), var(--theme-color-25));
  background: light-dark(var(--theme-color-23), var(--theme-color-02));
  border-radius: var(--theme-border-radius);
  padding: 1px var(--theme-padding-medium);
  font-weight: var(--theme-font-weight-medium);
  transition-property: background, color;
  transition-duration: 0.3s;
  transition-timing-function: ease;
}
